/* Header */
.header {
  background: linear-gradient(to right, #4A90E2, #7ED321);
  border-bottom: none;
  padding: 1rem 0;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 2rem;
}

.header-logo-div {
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.header-logo {
  height: 50px;
  width: auto;
}

.header-search-div {
  flex: 0 0 auto;
  margin: 0 2rem;
  width: 300px;
}

.header-search-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  font-size: 0.9rem;
}

.header-profile-div {
  flex: 0 0 auto;
  font-size: 2rem;
  cursor:whiter;
  color: #4A90E2;
}